.container {
  background-color: var(--panel-bg-color);
  border-radius: 12px;
  overflow: hidden;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-s) var(--container-padding);
  color: hsl(var(--hue-blue), 10%, 80%);
  background-color: hsl(var(--hue-blue), 20%, 20%);
  background-image: linear-gradient(135deg, hsl(209,20%,20%) 0%, hsl(209,20%,10%) 100%);

  h1 {
    margin: 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-bold);
  }
}

.content {
  padding: var(--container-padding);
}
