.heading {
  button {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    padding: var(--space-s);
    font-size: var(--font-size-s);
  }

  svg {
    height: var(--icon-size-m);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  padding: var(--space-m) var(--container-padding);
}

.field {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.select {
  min-height: 2rem;
}

.helperText {
  font-size: var(--font-size-xxs);
  opacity: 0.8;
}
