.container {
  display: flex;
  position: relative;
  overflow: hidden;
  min-width: 96px;
  height: 72px;
  border-radius: var(--border-radius);
  align-items: center;
  cursor: pointer;
  background-color: var(--btn-bg-color);

  svg {
    margin: 0 auto;
    color: #000;
  }
}

.fileInput {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.btnClear {
  position: absolute;
  top: 0;
  left: 0;
  color: hsl(var(--hue-pink), 100%, 70%);
  z-index: 99;
}

.placeholder {
  color: var(--btn-bg-color);
}