.container {
  background-color: var(--panel-background-color);
  border-radius: var(--border-radius);
  margin: 10px 0;
  overflow: hidden;
}

.title {
  margin: 0;
  font-size: var(--panel-title-size);
  padding: var(--panel-title-padding);
  background-color: var(--panel-title-background-color);
}

.content {
  padding: var(--container-padding);
}

.tableHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.tableRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tableCol {
  white-space: nowrap;
}
