.container {
  background-color: var(--panel-bg-color);
  border-radius: var(--border-radius);
  margin: 10px 0;
  overflow: hidden;
}

.titleContainer {
  display: flex;
  padding: var(--panel-title-padding);
  background-color: var(--panel-title-bg-color);
}

.title {
  flex: 1;
  margin: 0;
  padding: 0;
  font-size: var(--panel-title-size);
}

.content {
  padding: var(--container-padding);
}

.tableHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.tableRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tableCol {
  white-space: nowrap;
}
