.container {
  background-color: var(--panel-bg-color);
  border-radius: var(--border-radius);
  margin: 10px 0;
  overflow: hidden;
}

.titleContainer {
  align-items: center;
  display: flex;
  padding: var(--panel-title-padding);
  background-color: var(--panel-title-bg-color);
}

.titleContainer select {
  font-size: 16px;
  height: 24px; /* --panel-title-font size + top/bottom padding */
  max-width: 33%;
  padding: 0;
}

.title {
  flex: 1;
  margin: 0;
  padding: 0;
  font: var(--panel-title-font);
}

.showAll {
  cursor: pointer;
}

.content {
  padding: var(--container-padding);
}

.table {
  width: 100%;
}

.table > * {
  outline: none;
}

.table th {
  color: hsl(var(--hue-blue), 10%, 60%);
  font-weight: normal;
  text-align: left;
}

.table th:first-child {
  width: 100%;
}

.table th:nth-child(2) {
  min-width: 70px;
}

.table td {
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
}

.table td:first-child  {
  text-overflow: ellipsis;
  max-width: 0;
}
