.container {
  display: flex;
  line-height: 1;
  align-items: center;
  padding: 0 10px;
}

.play {
  fill: var(--transport-btn-bg-color);
  filter: var(--transport-btn-filter);
}

.pause {
  fill: var(--transport-btn-bg-color);
  filter: var(--transport-btn-filter);
}

.next {
  fill: var(--transport-btn-bg-color);
  filter: var(--transport-btn-filter);
}

.disabled {
  color: #ccc;
}
