.container {
  display: flex;
  line-height: 1;
  align-items: center;
  padding: 0 10px;
}

.play {
  fill: var(--transport-btn-color);
}

.pause {
  fill: var(--transport-btn-color);
}

.next {
  fill: var(--transport-btn-color);
}

.volume {
  fill: var(--transport-btn-color);
}

.disabled {
  color: #ccc;
}
