{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "configFile": "./config/babel.config.json",
    },
  },
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:promise/recommended"
  ],
  "plugins": [
    "@babel",
    "react",
    "promise"
  ],
  "env": {
    "browser" : true
  },
  "globals": {
    "__DEV__"      : false,
    "__TEST__"     : false,
    "__PROD__"     : false,
    "__COVERAGE__" : false
  },
  "rules": {
    "comma-dangle"         : [0, "always-multiline"],
    "promise/always-return": 0,
  },
  "settings": {
    "react": {
      "version": "detect",
    }
  }
}
