.container {
  position: absolute;
  right: 0;
  top: 0;
}

.textContainer {
  background-color: var(--chrome-bg-color);
  border-radius: 0 0 0 var(--border-radius);
  text-align: center;
  padding: 20px;
}

.fadeEnter {
  opacity: 0.01;
}

.fadeEnterActive {
  composes: fadeEnter;
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fadeExit {
  opacity: 1;
}

.fadeExitActive {
  composes: fadeExit;
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
