.container {
  background-color: var(--widget-background-color);
  border-radius: var(--border-radius);
  margin: 10px 0;
  overflow: hidden;

  /* fixes widget disappearing in iOS 11 due to overflow: scroll on parent
  container and -webkit-overflow-scrolling: touch on parent */
  -webkit-transform: translate3d(0, 0, 0);
}

.title {
  margin: 0;
  font-size: var(--widget-title-size);
  padding: var(--widget-title-padding);
  background-color: var(--widget-title-background-color);
}

.content {
  padding: var(--container-padding);
}
