.container {
  background-color: var(--widget-background-color);
  border-radius: var(--border-radius);
  margin: 10px 0;
  overflow: hidden;
}

.title {
  margin: 0;
  font-size: var(--widget-title-size);
  padding: var(--widget-title-padding);
  background-color: var(--widget-title-background-color);
}

.content {
  padding: var(--container-padding);
}
