.fadeEnter {
  transform: scale3d(0, 0, 0);
  opacity: 0;
}

.fadeEnterActive {
  transform: scale3d(1, 1, 1);
  opacity: 1;
  transition: all 500ms var(--function-ease-out-expo);
}

.itemExit {
  transform: scale3d(1, 1, 1);
  opacity: 1;
  height: var(--queue-item-height);
  transition: transform 300ms, opacity 300ms, height 500ms var(--function-ease-out-expo) 300ms;
}

.itemExitActive {
  transform: scale3d(0, 0, 0);
  opacity: 0;
  height: 0;
}
