.container {
}

.slider {
}

.handle {
  fill: var(--btn-active-bg-color);
}

.presetBtnContainer {
  display: flex;
  margin: 1em 0;
  justify-content: space-between;
}

.btnPreset {
  width: 30%;
  display: block;
  padding: 0;
  background-color: var(--btn-active-bg-color);
}

.btnIcon {
  fill: var(--btn-base-blue);
}

.field {
  display: block;
  margin: 1.5em 0 1em 0;
}
