.path {
  overflow-wrap: anywhere;
}

.label {
  font-weight: bold;
  color: #777;
}

.form * {
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: var(--input-margin);
}
