.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.folderCurrent {
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  background: var(--panel-bg-color);
  overflow-wrap: anywhere;
}

.folderList {
  flex: 1;
  margin: .5rem 0;
  overflow: scroll;
}

.btnContainer {
  display: flex;
  gap: .5em;
}
