.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.folderCurrent {
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  background: var(--panel-bg-color);
  overflow-wrap: anywhere;
}

.folderList {
  flex: 1;
  margin: .5rem 0;
  overflow: scroll;
}

.footer {
  display: flex;
  gap: 1em;
}

.prefsContainer {
  display: flex;
  align-items: center;
  background: var(--panel-bg-color);
  padding: 1em;
  border-radius: var(--border-radius);
}

.prefsContainer * {
  cursor: pointer;
}

.prefsContainer label {
  padding: 1em 0;
  white-space: nowrap;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
}
