.artistsHeading,
.songsHeading {
  color: var(--search-results-heading-color);
  background-color: var(--search-results-heading-bg-color);
  font-size: 18px;
  text-align: center;
}
.youtubeButtonContainer {
	text-align:center;
}
.youtubeButton {
	margin:20px 0;
	width:90%;
}
