.container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #0b0d12;
  color: #eee;
}

.patchBayArea {
  flex: 1;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid rgba(255, 255, 255, 0.08);
}

.sidebar {
  width: 420px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #141823, #0c0f16);
}

.editorArea {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
