.container {
  margin: 0 auto;
  padding: var(--container-padding);
  padding-top: calc(var(--header-height) + var(--space-xl));
  padding-bottom: calc(var(--footer-height) + var(--space-xl));
  max-width: 400px;
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;

  h1 {
    margin: var(--space-l) 0 var(--space-m) 0;
    font-family: var(--font-family-custom);
    font-size: var(--font-size-l);
    color: hsl(var(--hue-blue), 10%, 60%);
  }
}

.logo {
  margin-bottom: var(--space-xl);
  text-align: center;
  font-size: 30px;

  @media (min-width: 42em) {
    margin-top: var(--space-xl);
    margin-bottom: calc(var(--space-xl) * 2);
    font-size: 36px;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.error {
  color: hsl(var(--hue-red), 60%, 60%);
  margin-top: var(--space-l);
}

.loading {
  color: hsl(var(--hue-blue), 10%, 60%);
}
