.container {
  display: flex;
  height: 40px;
  cursor: pointer;
  align-items: center;
}

.path {
  flex: 1;
  font-size: 16px;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clear {
  fill: var(--btn-danger-bg-color);
}

.folder {
  fill: var(--text-color);
  margin-right: 5px;
}
