.flexContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scrollable {
  flex: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* Header */
.button {
  width: 75px;
  flex: 1;
}
