.heading  {
  button {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    padding: var(--space-s);
    font-size: var(--font-size-m);
  }

  svg {
    height: var(--icon-size-l);
  }
}

.content {
  padding: var(--container-padding);
}

.content label {
  padding: var(--container-padding);
  cursor: pointer;
}
