.container {
  margin: 0 auto;
  overflow: hidden;
  padding: var(--container-padding);

  h1 {
    margin: var(--space-l) 0 var(--space-m) 0;
    font-family: var(--font-family-custom);
    font-size: var(--font-size-l);
    color: hsl(var(--hue-blue), 10%, 60%);
  }
}

.logo {
  margin-bottom: var(--space-xl);
  text-align: center;
  font-size: 30px;

  @media (min-width: 42em) {
    margin-top: var(--space-xl);
    margin-bottom: calc(var(--space-xl) * 2);
    font-size: 36px;
  }
}

.radioContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  white-space: nowrap;
  margin-bottom: var(--space-m);
}

.hidden {
  display: none;
}