.container {
  margin: 0 auto;
  overflow: hidden;
  padding: var(--container-padding);
}

.logo {
  margin: 2rem 0;
  text-align: center;
  font-size: 30px;
}

@media (min-width: 42em) {
  .logo {
    margin: 3rem 0;
    font-size: 36px;
  }
}
