@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: url('~fonts/raleway-v14-latin-200.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('~fonts/raleway-v14-latin-700.woff2') format('woff2');
}
