@import './variables.css';
@import './material-icons.css';
@import './rc-slider.css';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html,
body {
  /* Helvetica Neue Regular Font Stack */
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  font-weight: bold;
}

body {
  background-color: var(--background-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
select {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: var(-border-radius);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
select:focus{
  outline: none;
}

/* Modal dialog */
.skylight-dialog {
  background-color: var(--background-color) !important;
  border-radius: var(--border-radius) !important;
}

.skylight-dialog h2 {
  font-size: 16px;
  font-weight: normal;
}

/* Buttons */
button {
  display: inline-block;
  padding: 16px;
  border-radius: var(--border-radius);
  font-size: 16px;
  font-weight: lighter;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: 100%;
}

.button.primary {

}

@supports (backdrop-filter: blur(10px) saturate(200%)) or (-webkit-backdrop-filter: blur(10px) saturate(200%)) {
  .bg-blur {
    background-color: transparent !important;
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
  }
}
