@import './variables.css';
@import './material-icons.css';
@import './rc-slider.css';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}


html,
body {
  /* Helvetica Neue Regular Font Stack */
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;
  color: var(--text);
}

a {
  color: #4962c7;
  font-weight: bold;
}

body {
  background-color: var(--background);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
select {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: var(-border-radius);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
select:focus{
  outline: none;
}

/* Buttons */
.button {
  display: inline-block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: lighter;
  background-color: #fff;
  color: #646464;
  border: none;
}

.button.wide {
  width: 100%;
}

.button.grey {
  background-color: #eee;
}

.button.blue {
  background-color: #4962c7;
  color: #fff;
}

.button.green {
  background-color: #0f9d58;
  color: #fff;
}

.button.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button.raised:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}
