.rc-slider {
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rc-slider * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: var(--transport-volume-track-color);
  height: 6px;
  border-radius: 6px;
}

.rc-slider-track {
  position: absolute;
  left: 0;
  height: 6px;
  border-radius: 6px;
  background-color: var(--transport-volume-track-active-color);
  filter: var(--transport-volume-track-active-filter);
}
