:root {
  /* Defaults */
  --background-color: #191F32;
  --text-color: #ccc;
  --link-color: #2A48BF;
  --border-radius: 5px;
  --container-padding: 10px;

  /* Account widgets */
  --widget-background-color: #333;
  --widget-title-color: var(--text-color);
  --widget-title-background-color: #555;
  --widget-title-size: 18px;
  --widget-title-padding: 8px;

  /* Library */
  --artist-item-height: 44px;
  --song-item-height: 44px;

  /* PlaybackCtrl */
  --transport-btn-color: #BA3A95;

  /* UI chrome (header/footer) */
  --chrome-background-color: rgba(248, 248, 248, 0.2);
  --chrome-border-color: #333;

  /* Navigation */
  --nav-link-color: var(--text-color);
  --nav-link-background-color: var(--chrome-background-color);
  --nav-active-color: var(--link-color);
  --nav-active-background-color: var(--chrome-background-color);
}
