:root {
  /* Defaults */
  --background-color: #111522;
  --text-color: #aaa;
  --link-color: #2968d6;
  --border-radius: 5px;
  --container-padding: 10px;

  --btn-inactive-color: #808080;
  --btn-active-color: var(--link-color);
  --btn-danger-color: #BA3A95;

  /* UI chrome (header/footer) */
  --chrome-background-color: rgba(48, 49, 54, .8);
  --chrome-background-color-blur: rgba(0, 0, 0, 0);
  --chrome-border-color: #333;

  /* Navigation */
  --nav-link-color: var(--btn-inactive-color);
  --nav-link-background-color: transparent;
  --nav-active-color: var(--btn-active-color);
  --nav-active-background-color: transparent;

  /* Library */
  --artist-item-height: 44px;
  --artist-folder-color: #173e82; /* darker --link-color */
  --artist-folder-text-color: var(--text-color);

  --song-item-btn-width: 44px;
  --song-item-btn-height: 44px;
  --song-item-btn-color: var(--btn-active-color);
  --song-item-btn-active-color: var(--btn-active-color);
  --song-item-btn-inactive-color: #222a44;

  --alpha-picker-color: var(--artist-folder-color);
  --alpha-picker-popover-color: var(--text-color);
  --alpha-picker-popover-background-color: var(--alpha-picker-color);

  --queued-item-glow-color: var(--btn-danger-color);
  --mark-background-color: #669eff;

  /* Queue */
  --current-item-from-background-color: #15346a;
  --current-item-to-background-color: #15346a;

  /* Account widgets */
  --widget-background-color: #303030;
  --widget-title-color: var(--text-color);
  --widget-title-background-color: #4d4d4d;
  --widget-title-size: 18px;
  --widget-title-padding: 8px;

  /* PlaybackCtrl */
  --transport-btn-color: var(--btn-danger-color);
  --transport-volume-color: var(--btn-active-color);
  --transport-volume-background-color: var(--background-color);

  /* Up Next header/banner */
  --up-next-bg-color-from: #112a55; /* darker */
  --up-next-bg-color-to: var(--btn-active-color);
  --up-now-bg-color-from: #4e183e; /* darker */
  --up-now-bg-color-to: var(--queued-item-glow-color);

  /* <button> colors */
  --btn-default-color: #141414;
  --btn-default-background-color: var(--btn-inactive-color);

  --btn-primary-color: #ccc;
  --btn-primary-background-color: var(--btn-active-color);

  /* Animation */
  --spring-duration: .5s;
  --spring-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
