.container {
  display: flex;
  height: 64px;
  align-items: center;
  background-image: linear-gradient(to right, #f3f3f3, #ddd);
  background-repeat: no-repeat;
}

.primary {
  flex: 1;
  overflow:hidden;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

.artist {
  composes: ellipsis;
  font-size: 14px;
}

.title {
  composes: ellipsis;
  font-size: 18px;
}

/* Actions */
.skip {
  font-size: 48px;  
}

.remove {
  font-size: 36px;
}

.star {
  font-size: 48px;
}
