.container {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, var(--current-item-from-bg-color), var(--current-item-to-bg-color));
  background-repeat: no-repeat;
  overflow: hidden;
}

.innerContainer {
  display: flex;
  flex: 1;
  margin: var(--container-padding);
  margin-right: 0;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 60px;
}

.image {
  max-width: 80px;
  max-height: 60px;
}

.waitContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: var(--border-radius);
}

.wait {
  font-size: 15px;
  padding-top: 1px;
  padding-left: 3px;
}

.primary {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: var(--container-padding);
  overflow: hidden;
}

.primaryActive {
  composes: primary;
  color: #eee;
  text-shadow: var(--text-shadow);
}

.innerPrimary {
  flex: 1;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

.title {
  composes: ellipsis;
  font-size: 19px;
}

.artist {
  composes: ellipsis;
  font-size: 16px;
}

.user {
  font-size: 15px;
  /*  for some reason composes: ellipsis; isn't working here */
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

.btnContainer {
  display: flex;
  align-items: center;
  transition: width var(--spring-duration) var(--function-spring);
}

/* Actions */
.btn {
  margin-right: var(--btn-margin);
  fill: var(--btn-danger-bg-color);
  transition: opacity .3s;
}

.playNext, .remove, .info {
  composes: btn;
  filter: var(--btn-danger-filter);
}

.btnHidden {
  composes: btn;
  opacity: 0;
}

.star {
  fill: var(--song-item-btn-bg-color);
}

.starStarred {
  fill: var(--song-item-btn-active-bg-color);
  filter: var(--song-item-btn-active-filter);
}

.animateStar {
  animation: var(--animation-bounce);
}
