.container {
  display: flex;
  height: 64px;
  background-image: linear-gradient(to right, #f3f3f3, #ddd);
  background-repeat: no-repeat;
}

.primary {
  flex: 1;
  overflow: auto;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

.artist {
  composes: ellipsis;
}

.title {
  composes: ellipsis;
}

.wait {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  width: 20%;
}

.waitUnit {
  font-size: 16px;
}

.user {
  font-weight: bold;
}

/* Actions */
.button {
  fill: var(--btn-danger-color);
}

.playNext, .remove, .star, .info {
  composes: button;
}
