.container {
  background-size: .2em 100%;
  font: 14.5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  height: 100%;
}

.text {
  fill: url(#p-fire);
  stroke: #330000;
  stroke-width: 8;
  stroke-opacity: .5;
}

.svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
