.container {
  display: flex;
  align-items: center;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.searchInput {
  flex: 1;
  height: 48px;
  padding-left: 5px;
  font-size: 18px;
  border: none;
  color: var(--text-color);
  background-color: inherit;
}

.magnifier {
  fill: var(--btn-inactive-color);
}

.clear {
  fill: var(--btn-active-color);
}

.eye {
  fill: var(--btn-inactive-color);
}

.eye-active {
  fill: var(--btn-active-color);
}
