.container {
  display: flex;
  align-items: center;
  padding: var(--space-xs);

  button {
    cursor: pointer;
    color: var(--btn-bg-color);
  }

  button.active {
    color: var(--btn-active-bg-color);
    filter: var(--btn-active-filter);
  }
}

.searchInput {
  align-self: stretch;
  flex: 1;
  margin: 0;
  padding: 0 var(--space-s) 0 var(--space-xs) !important;
  border: none !important;
  font-size: var(--font-size-m) !important;
  color: var(--text-color) !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.searchInput::placeholder {
  color: var(--btn-bg-color) !important;
}

.btnMagnifier svg {
  height: 2.5rem;
}

.btnClear {
  height: 2.75rem;

  svg {
    height: 3rem;
  }
}

.btnStar {
  margin-right: var(--space-s);

  svg {
    height: 3rem;
  }
}