.container {
  display: flex;
  align-items: center;
  padding-right: var(--container-padding);
}

.searchInput {
  flex: 1;
  margin: 0;
  margin-left: -4px;
  border: none !important;
  color: var(--text-color) !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.searchInput::placeholder {
  color: var(--input-placeholder-color) !important;
}

.btn {
  cursor: pointer;
  fill: var(--btn-bg-color);
  filter: var(--btn-active-filter);
}

.btnActive {
  composes: btn;
  fill: var(--btn-active-bg-color);
}
