.container {
  display: flex;
}

.clear {
  height: 48px;
  font-size: 48px;
  color: #666;
}

.search {
  flex: 1;
  height: 48px;
  padding-left: 5px;
  font-size: 18px;
  border: none;
  background-color: inherit;
}
