.container {
  display: flex;
  text-align: center;
  border-top: 1px solid #ccc;
  background: #efefef;
}

.flexItem {
  flex: 1;
}

.button {
  padding: .25rem 0;
  color: #a9a9a9;
}

.icon {
  font-size: 40px;
}

.active {
  color: #4962c7;
}
