.container {
  display: flex;
  padding: 6px 0;
}

.button {
  flex: 1;
  display: flex;
  height: 100%;
  color: #a9a9a9;
  text-decoration: none;
  text-align: center;
  align-items: center;
}

.icon {
  flex: 1;
  font-size: 40px;
}

.active {
  color: #4962c7;
}
