.container {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  text-decoration: none;
  width: 100%;
  background-color: var(--chrome-bg-color);
  border-top: 1px solid var(--chrome-border-color);
  z-index: 1;
}

.btn {
  flex: 1;
  padding-top: 4px;
  padding-bottom: 8px;
  text-align: center;
  fill: var(--nav-link-color);
}

.btnActive {
  fill: var(--nav-active-color);
  filter: var(--nav-active-filter);
}

.shadow {
  filter: drop-shadow(0px 1px 0px hsl(var(--hue-blue), 100%, 30%));
}
