.provider {
  background-color: #555;
  border-radius: var(--border-radius);
  margin-bottom: var(--container-padding);
}

.provider-last {
  composes: provider;
  margin-bottom: 0;
}

.provider-title {
  display: flex;
  align-items: center;
  padding-left: var(--container-padding);
}

.icon {
  fill: #999;
}
