.container {
  display: flex;
  align-items: center;
  height: 44px;
}

.containerExpanded {
  composes: container;
  height: 60px;
}

.duration {
  font-size: 13px;
  text-align: right;
  margin-right: 18px;
  width: 40px;
}

.primary {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.isQueued {
  text-shadow: var(--glow-text-shadow);
}

.artist {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btnContainer {
  display: flex;
  width: var(--song-item-btn-width);
  transition: width var(--spring-duration) var(--spring-function);
}

.btnContainerExpanded {
  composes: btnContainer;
  width: calc(var(--song-item-btn-width) * 2);
}

.button {
  width: var(--song-item-btn-width);
  height: var(--song-item-btn-height);
  transition: opacity .3s;
}

.hiddenButton {
  composes: button;
  opacity: 0;
}

.star {
  fill: var(--song-item-btn-inactive-color);
}

.starStarred {
  fill: var(--song-item-btn-active-color);
}

.starCount {
  position: relative;
  font-size: 12px;
  top: -26px;
  text-align: center;
  color: var(--text-color);
}

.starCountStarred {
  composes: starCount;
  color: var(--text-color);
}

.animateStar {
  animation: var(--animation-bounce);
}

.info {
  fill: var(--song-item-btn-color);
}
