.container {
  display: flex;
  align-items: center;
}

.containerQueued {
  composes: container;
  color: var(--queued-item-color);
  text-shadow: var(--queued-item-text-shadow);
}

.duration {
  font-size: 12px;
  text-align: center;
  width: 44px;
}

.primary {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.artist {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btnContainer {
  display: flex;
  width: var(--song-item-btn-width);
  transition: opacity .3s, width var(--spring-duration) var(--spring-function);
}

.btn {
  width: var(--song-item-btn-width);
  height: var(--song-item-btn-height);
  margin-right: var(--btn-margin);
}

.star {
  fill: var(--song-item-btn-bg-color);
}

.starStarred {
  fill: var(--song-item-btn-active-bg-color);
  filter: var(--song-item-btn-active-filter);
}

.starCount {
  position: relative;
  font-size: 12px;
  top: -26px;
  text-align: center;
  text-shadow: none;
  color: var(--text-color);
}

.starCountStarred {
  composes: starCount;
  color: var(--song-item-btn-active-color);
}

.animateStar {
  animation: var(--animation-bounce);
}

.info {
  fill: var(--song-item-btn-active-bg-color);
}
