.container {
  display: flex;
  height: 40px;
  align-items: center;
}

.title {
  flex: 1;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

.star {
  font-size: 48px;
}

.stats {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.isQueued {
  background: yellow;
}
