.modalRoot {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.modalOverlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.modal {
  max-width: 800px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background: var(--bg-color);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 1.2rem;
  padding: 1.2rem;
  position: relative;
  overflow-y: auto;
  /* end defaults */
  background-clip: padding-box;
  outline: none;
}

.modalContainer {
  height: 100%;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

.modalCloseButton {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  /* end defaults */
  border-radius: 0;
  box-shadow: none;
  fill: var(--btn-active-bg-color);
  width: auto;
}

@keyframes :global(react-responsive-modal-overlay-in) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes :global(react-responsive-modal-overlay-out) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes :global(react-responsive-modal-modal-in) {
  0% {
    transform: scale(0.96);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes :global(react-responsive-modal-modal-out) {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(0.96);
    opacity: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  font-family: var(--font-family-custom);
  margin: 0 0 1rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  flex: 1;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.buttons {
  margin-top: var(--container-padding);
}
