.container {
  display: flex;
  flex-direction: column;
  opacity: 0;
  color: var(--text-color);
  background: var(--bg-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  border: none;
  max-width: 800px;
  overflow-y: auto;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0);
  
  &[open] {
    animation: fadeIn 0.15s forwards;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
}

.title {
  font-family: var(--font-family-custom);
  margin: 0 0 1rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  flex: 1;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.buttons {
  margin-top: var(--container-padding);
}

/* .btnClose {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;

  border-radius: 0;
  box-shadow: none;
  color: var(--btn-active-bg-color);
  width: auto;
} */

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
