.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);

  input[type="password"] {
    margin: var(--space-s) 0;
  }

  label {
    width: 100%;
  }
}

.hidden {
  display: none !important;
}