.container {
  position: absolute;
  bottom: 3vh;
  left: 3vh;
  opacity: 1;
  transition: opacity 0.3s ease;

  &.alternate {
    left: unset;
    right: 3vh;
  }

  canvas {
    border-radius: var(--border-radius);
  }
}

.enterActive {
  opacity: 1;
}

.exitActive {
  opacity: 0;
}
