.container {
  display: flex;
  height: var(--artist-item-height);
  align-items: center;
  overflow: hidden;
}

.name {
  flex: 1;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hasQueued {
  background: #ffff8c;
}

.folder {
  height: var(--artist-item-height);
  width: var(--artist-item-height);
  margin-right: 2px;
}

.icon {
  position: absolute;
  font-size: var(--artist-item-height);
  color: #999;
}

.count {
  position: relative;
  top: 14px;
  text-align: center;
  font-size: 14px;
  color: #efefef;
}

.arrowDown {
  position: relative;
  top: 10px;
  text-align: center;
  font-size: 24px;
  color: #ccc;
}
