.container {
  display: flex;
  height: var(--artist-item-height);
  align-items: center;
  overflow: hidden;
}

.containerExpanded {
  composes: container;
}

.name {
  flex: 1;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 3px;
}

.isChildQueued {
  color: var(--queued-item-color);
  text-shadow: var(--queued-item-text-shadow);
}

.animateGlow {
  animation: var(--animation-text-shadow-glow);
}

.folder {
  height: var(--artist-item-height);
  fill: var(--artist-folder-bg-color);
}

.folderStarred {
  composes: folder;
  color: var(  --artist-folder-starred-color);
  fill: var(--artist-folder-starred-bg-color);
}

.count {
  position: relative;
  top: -30px;
  text-align: center;
  font-size: 16px;
}

.iconExpanded {
  position: relative;
  top: -34px;
  text-align: center;
  fill: var(--text-color);
}

.iconExpandedStarred {
  composes: iconExpanded;
  fill: #000;
}
