.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--chrome-bg-color);
  border-bottom: 1px solid var(--chrome-border-color);
  z-index: 1;

  &:empty {
    display: none;
  }
}

.visitingBanner {
  width: 100%;
  background-color: var(--btn-bg-primary);
  border-radius: 0;
  padding: var(--spacing-sm) var(--spacing-md);
  justify-content: center;
  font-weight: 600;
}
