.container {
  align-items: center;
  color: var(--alpha-picker-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 2vh;
  position: fixed;
  right: 0;
  touch-action: none;
  width: 32px;
}
