.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vh;
  right: 0;
  touch-action: none;
  width: 32px;
  color: var(--alpha-picker-color);
}
