.logo {
  font-size: 2rem;
  line-height: 1.15; // from app's <html> style
  text-align: center;
  white-space: nowrap;
  padding-top: .5rem;
}

.logo a {
  font-family: 'Beon', sans-serif;
  border: none;
  color: hsl(var(--hue-blue), 10%, 80%) !important;
  display: inline-block;
  font-size: 200%;
  text-transform: uppercase;
  text-decoration: none;
  margin: 1.75rem 0;
  text-shadow:
    0 0 .1em hsl(var(--hue-pink), 100%, 100%),
    0 0 .5em hsl(var(--hue-pink), 100%, 100%),
    0 0 .25em hsl(var(--hue-pink), 100%, 50%),
    0 0 .5em hsl(var(--hue-pink), 100%, 50%),
    0 0 .75em hsl(var(--hue-pink), 100%, 50%),
    0 0 1em hsl(var(--hue-pink), 100%, 50%),
    0 0 1.5em hsl(var(--hue-pink), 100%, 50%),
    0 0 3em hsl(var(--hue-pink), 100%, 50%),
    0 0 6em hsl(var(--hue-pink), 100%, 50%),
    0 0 9em hsl(var(--hue-pink), 100%, 50%);
}

.logo-eternal {
  font-size: 40%;
  text-transform: uppercase;
  display: block;
  letter-spacing: .9em;
  border: .1em solid transparent;
  border-radius: .25em;
  padding: .25em;
  text-shadow:
    0 0 .1em hsl(var(--hue-blue), 100%, 90%),
    0 0 .25em hsl(var(--hue-blue), 100%, 90%),
    0 0 .25em hsl(var(--hue-blue), 100%, 50%),
    0 0 .5em hsl(var(--hue-blue), 100%, 50%);
}

.fonts-loaded .logo-eternal {
  border-color: hsl(var(--hue-blue), 100%, 90%);
  box-shadow:
    0 0 .1em hsl(var(--hue-blue), 100%, 90%),
    0 0 .25em hsl(var(--hue-blue), 100%, 90%),
    0 0 .5em hsl(var(--hue-blue), 100%, 50%),
    0 0 .75em hsl(var(--hue-blue), 100%, 50%),
    inset 0 0 .5em hsl(var(--hue-blue), 100%, 50%),
    inset 0 0 .75em hsl(var(--hue-blue), 100%, 50%);
}

.logo-lastChar {
  letter-spacing: normal;
}

.logo .tagline {
  font-size: 1.25rem;
  font-weight: 200;
  text-align: center;
  text-shadow: var(--text-shadow-glow);
}

@media (min-width: 960px) {
  .logo {
    font-size: 1.75rem;
  }

  .logo a {
    margin-top: 0;
  }
}