@import "variables.scss";
@import "poole.scss";
@import "logo.scss";

html {
  font: 16px/1.5 sans-serif;
  font-size: unquote("min(max(calc(.5rem + 1vw), 16px), 22px)"); // min=16, max=22, fluid between
  font-family: var(--font-family);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  color: var(--color-gray-8);
  border-bottom: 1px solid var(--btn-bg-color);
  font-size: 2rem;
}

h2 {
  color: var(--color-gray-8);
  font-size: 1.75rem;
  border-bottom: none;
  border-left: 5px solid hsl(var(--hue-blue), 30%, 50%);
  padding-left: 0.75rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

h3 {
  color: var(--color-gray-7);
  font-size: 1.5rem;
  margin-top: 2rem;
}

h4 {
  color: var(--color-gray-6);
  font-size: 1.2rem;
  margin-bottom: .75rem
}

strong {
  color: inherit;
}

ul {
  list-style-image: none;
}

li>ul {
  margin-bottom: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: hsl(var(--hue-blue), 92%, 80%);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: 2px;
    border-radius: 2px;
  }
}

code {
  color: hsl(var(--hue-blue), 10%, 90%);
}

code,
pre {
  background-color: hsl(var(--hue-blue), 10%, 12%);
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: hsl(var(--hue-blue), 10%, 12%);
}

hr {
  color: var(--color-gray-7);

}

.copyright {
  color: var(--color-gray-7);
  text-align: center;
}

.copyright a {
  color: var(--color-gray-7);
  text-decoration: underline;
}

/*
 * Container
 */
.content {
  padding-top: 0.5rem;
  padding-bottom: 4rem;
}

@media (min-width: 60rem) {
  .content {
    padding-top: 6rem;
    padding-left: 2rem;
    max-width: 60rem;
    margin-left: 20rem;
    margin-right: 0;
  }
}

/*
 * Sidebar
 */
@media (min-width: 60rem) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 3rem;
    width: 20rem;
    overflow-y: scroll;

    nav {
      display: block;
      margin: 1.5rem;
      padding: 0;
    }
  }

  #btn-nav {
    display: none;
  }
}

/*
 * Navigation
 */
#btn-nav {
  max-width: 40rem;
  padding: 0 1rem;
  margin: 0 auto;
  fill: var(--btn-bg-color);
  cursor: pointer;
}

#btn-nav.active {
  fill: var(--btn-active-bg-color);
}

#btn-nav .icon {
  width: 48px;
  height: 48px;
  display: block;
  float: right;
  position: relative;
  top: 1.75rem;
}

nav {
  display: none;
  max-width: 40rem;
  margin: 3.5rem auto 1rem auto;
  padding: 0 4rem 0 1rem;
}

nav.active {
  display: block;
}

nav a.active,
nav li.active>a {
  background-color: var(--info-bg-color);
  display: block;
}

/* Level 2 active items (parents of TOC) */
nav>ul>li>ul>li.active>a {
  background-color: var(--nav-parent-bg-color);
}

/* Level 3 active items (TOC items) */
nav>ul>li>ul>li>ul>li.active>a {
  background-color: var(--info-bg-color);
}

.nav-item {
  display: block;
  line-height: 1.75;
}

a.nav-item:hover,
a.nav-item:focus {
  text-decoration: underline;
}

.nav-item.active {
  font-weight: bold;
}

#doc-toc {
  margin-bottom: 0;
}

/*
 * Asides
 */
aside {
  display: flex;
  margin-bottom: 1rem;
  padding: 5px 10px;
  align-items: center;
}

aside .icon {
  width: 32px;
  height: 32px;
  min-width: 32px;
}

aside p {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 0;
}

aside.info {
  background-color: var(--info-bg-color);
  border: 3px solid hsl(var(--hue-blue), 50%, 20%);

  .icon {
    fill: var(--info-color);
  }
}

aside.warn {
  background-color: var(--warn-bg-color);
  border: 3px solid hsl(var(--warn-color), 50%, 20%);

  .icon {
    fill: var(--warn-color);
  }
}

/*
 * Icons
 */
.icon {
  width: 1em;
  height: 1em;
}

.icon.external {
  fill: var(--info-color);
}

/*
 * Button description tables
 */
table.button-descriptions {
  width: 100%;
  margin-bottom: 2rem;
  border-collapse: collapse;

  svg {
    fill: var(--btn-active-bg-color);
    filter: var(--btn-active-filter);
    height: 2rem;
    vertical-align: middle;
    display: inline-block;
  }

  svg.danger {
    fill: var(--btn-danger-bg-color);
    filter: var(--btn-danger-filter);
  }

  th,
  td {
    border-color: var(--color-gray-3);
  }

  td:nth-child(2) {
    white-space: nowrap;
  }

  tbody tr:nth-child(odd) td,
  tbody tr:nth-child(odd) th {
    background-color: inherit;
  }
}

/*
 * Screenshots
 */
ul.screenshots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  list-style: none;
  margin-bottom: .5rem;
  padding: 0;

  li:last-child {
    grid-column: 1 / -1;
  }

  img {
    height: 20vw;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    margin: 0;
    padding: .5rem;
  }

  .screenshot-link {
    display: block;

    &:focus-visible {
      outline: var(--focus-outline);
      outline-offset: -2px;
    }
  }
}

.row {
  display: flex;
  justify-content: space-around;

  img {
    max-height: 50vh;
    margin: 0 auto;
  }
}

figure {
  figcaption {
    color: hsl(var(--hue-blue), 20%, 50%);
    text-align: center;
    margin-top: .5rem;
  }
}

/*
 * :target image overlay
 */
.overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity .167s;
}

.overlay img {
  max-width: 90vw !important;
  max-height: 90vh !important;
  margin: auto !important;
  width: auto !important;
  ;
  height: auto !important;
  object-fit: contain;
}

@media (min-width: 60rem) {
  ul.screenshots {
    margin-left: 5vw;
    margin-right: 5vw;

    img {
      object-fit: contain;
    }
  }

  .overlay img {
    max-width: 66vw !important;
    max-height: 66vh !important;
  }
}

.overlay:target {
  visibility: visible;
  outline: none;
  opacity: 1;

  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: -4px;
  }
}

/*
 * GitHub buttons
 */
.github-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 0.5rem;

  &>div {
    white-space: nowrap;
    border: 1px solid;
    border-color: rgba(240, 246, 252, .1);
    background-image: linear-gradient(180deg, #21262d, #1a1e23 90%);
    border-radius: 0.25em;

    &:hover {
      border-color: #8b949e;
      background-image: linear-gradient(180deg, #30363d, #292e33 90%);
    }

    a {
      display: inline-flex;
      align-items: center;
      color: #c9d1d9;
      padding: 8px 10px;
      font-size: 0.75rem;
      line-height: 1rem;
      text-decoration: none;
    }

    svg {
      margin-right: 5px;
    }
  }

  .github-star svg {
    color: #E3B341;
  }

  .github-sponsor svg {
    color: #db61a2;
  }
}

/* Copy to clipboard button */
.highlight {
  position: relative;
}

.highlight-copy-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  border-radius: 0 0 0 4px;
  padding: 2px 8px;
  font-size: 0.75rem;
  line-height: 1.5;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;

  &:focus-visible {
    opacity: 1;
    outline: var(--focus-outline);
    outline-offset: -2px;
  }
}

.highlight:hover .highlight-copy-btn {
  opacity: 1;
}

// FAQ section
details {
  margin: .5rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-gray-1);
  border-radius: 4px;

  &[open] {
    background-color: var(--color-gray-2);

    summary {
      margin-bottom: 1rem;
    }
  }
}

summary {
  cursor: pointer;
  font-weight: bold;
  outline: none;

  &>span {
    margin-left: 0.5rem;
  }

  &:hover {
    color: hsl(var(--hue-blue), 50%, 70%);
  }

  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: 2px;
    border-radius: 2px;
  }
}