:root {
  --hue-blue: 209;
  --hue-pink: 270;
  --color-gray-1: hsl(var(--hue-blue), 10%, 10%);
  --color-gray-2: hsl(var(--hue-blue), 10%, 20%);
  --color-gray-3: hsl(var(--hue-blue), 10%, 30%);
  --color-gray-4: hsl(var(--hue-blue), 10%, 40%);
  --color-gray-5: hsl(var(--hue-blue), 10%, 50%);
  --color-gray-6: hsl(var(--hue-blue), 10%, 60%);
  --color-gray-7: hsl(var(--hue-blue), 10%, 70%);
  --color-gray-8: hsl(var(--hue-blue), 10%, 80%);
  --color-gray-9: hsl(var(--hue-blue), 10%, 90%);

  --font-family: system-ui, sans-serif;

  --bg-color: hsl(var(--hue-blue), 40%, 2%);
  --text-color: var(--color-gray-7);
  --link-color: hsl(var(--hue-blue), 92%, 70%);
  --text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  --box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

  --btn-bg-color: hsl(var(--hue-blue), 10%, 50%);
  --btn-active-bg-color: var(--link-color);
  --btn-active-filter: drop-shadow(0 0 10px hsla(var(--hue-blue), 100%, 100%, .5));
  --btn-danger-bg-color: hsl(var(--hue-pink), 60%, 57%);
  --btn-danger-filter: drop-shadow(0 0 10px hsla(var(--hue-pink), 100%, 100%, .5));

  --info-color: var(--link-color);
  --info-bg-color: hsl(var(--hue-blue), 100%, 17%);
  --nav-parent-bg-color: hsl(var(--hue-blue), 100%, 12%);
  --warn-color: hsl(var(--hue-pink), 100%, 50%);
  --warn-bg-color: hsl(var(--hue-pink), 50%, 20%);
  --logo-color: hsl(var(--hue-blue), 10%, 85%);

  --text-shadow-glow: 0 0 5px hsl(var(--hue-pink), 100%, 45%), 0 0 10px hsl(var(--hue-pink), 100%, 45%);
  --focus-outline: 4px solid var(--btn-danger-bg-color);
}