.container {
  background-color: var(--panel-title-bg-color);
  border-radius: var(--border-radius);
}

.content {
  padding: var(--container-padding);
}

.title {
  display: flex;
  align-items: center;
}

.icon {
  fill: var(--text-color);
}
