.heading  {
  button {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    padding: var(--space-s);
    font-size: var(--font-size-m);
  }

  svg {
    height: var(--icon-size-l);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  padding: var(--container-padding);
}

.btnContainer {
  display: flex;
  align-items: flex-end;
  gap: var(--space-m);

  button {
    flex: 1;
  }
}
