.container {
  aspect-ratio: 4/3;
  margin: 0 auto;

  img {
    border-radius: var(--border-radius);
  }

  svg {
    color: var(--btn-bg-color);
  }

  img,
  svg {
    width: 100%;
    height: 100%;
  }
}