.flexContainer {
  display: flex;
  flex-direction: column;
}

.flexGrow {
  flex: 1;
  position: relative;
}

.view {
  width: 100%;
  height: 100%;
  position: absolute;
}

.activeView {
  composes: view;
  display: flex;
}

.inactiveView {
  composes: view;
  display: none;
}
