.view {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.active {
  composes: view;
  display: flex;
}

.inactive {
  composes: view;
  display: none;
}
