.container {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  background-image: linear-gradient(to right, #ccc, #fff);
  background-repeat: no-repeat;
}

.text {
  flex: 1;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  mix-blend-mode: difference;
  color: var(--text-color);
}

.clear {
  fill: var(--action-warning-color);
}
