.container {
  display: flex;
  align-items: center;
  height: 40px;
}

.name {
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}

.channelIcon {
  font-size: 24px;
  margin-right: 5px;
}

.removeIcon {
  font-size: 48px;
}
