.container {
  display: flex;
  align-items: center;
  height: 40px;
}

.name {
  flex: 1;
  font-size: 18px;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cloud {
  fill: var(--text-color);
}

.clear {
  fill: var(--action-warning-color);
}
