.container {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  background-image: linear-gradient(to right, var(--active-item-from-bg-color), var(--active-item-from-bg-color));
  background-repeat: no-repeat;
}

.text {
  flex: 1;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--text-color);
}

.btn {
  cursor: pointer;
}

.cancel {
  fill: var(--btn-danger-bg-color);
  filter: var(--btn-danger-filter);
}

.close {
  fill: var(--btn-active-bg-color);
  filter: var(--btn-active-filter);
}
