.container {
  display: flex;
  line-height: 1;
  align-items: center;
  color: #666;
  padding: 0 12px;
}

.play {
  font-size: 48px;
  height: 48px;
}

.pause {
  font-size: 48px;
  height: 48px;
}

.next {
  position: relative;
  top: -3px;
  left: 4px;
  font-size: 54px;
  height: 48px;
}

.volume {
  margin: 0 30px;
}

.disabled {
  color: #ccc;
}
