.container {
  display: flex;
  height: 50px;
  line-height: 1;
  align-items: center;
  margin: 0 1rem;
  color: #666;
}

.play {
  font-size: 48px;
}

.pause {
  font-size: 48px;
}

.next {
  font-size: 54px;
}

.volume {
  margin: 0 2rem 0 1.5rem;
}

.disabled {
  color: #ccc;
}
